<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">{{name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/repositorio']">Repositório dos Integrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bitcoin']">BitCoin em Tempo Real</a>
      </li>
    </ul>
  </div>
</nav>-->

<div class="container-fluid">
  <div *ngIf="getCurrentPrice()">
    <h2>Data/Hora</h2>
    <div>{{this.getCurrentPrice().time.updated}}</div>
    <hr>

    <h2>Descrição</h2>
    <div>{{this.getCurrentPrice().disclaimer}}</div>
    <hr>

    <h2>Valor em Real</h2>
    <div>{{this.getCurrentPrice().bpi.BRL.rate}}</div>
    <hr>

    <h2>Valor em Dolar</h2>
    <div>{{this.getCurrentPrice().bpi.USD.rate}}</div>
    
  </div>

  <h2 class="mt-5 mb-3">GitHub Paloma</h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>Nome</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of github.items">
        <td>{{item.name}}</td>
        <td>{{item.url}}</td>
      </tr>
    </tbody>
  </table>
</div>